<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mozhina.Nsudotnet.Rss2Email.Properties.Rss2Email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mozhina.Nsudotnet.Rss2Email.Rss2Email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Mozhina.Nsudotnet.Rss2Email.Properties.Rss2Email>
            <setting name="lastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSent" serializeAs="String">
                <value />
            </setting>
        </Mozhina.Nsudotnet.Rss2Email.Properties.Rss2Email>
    </userSettings>
</configuration>